Package: com.sassoty.stopsend
Name: StopSend
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Disable Send button if autocorrect is active
Maintainer: Sassoty & GSquared <sassoty@gmail.com>
Author: Sassoty & GSquared <sassoty@gmail.com>
Section: Tweaks
